* {
    box-sizing: border-box;
}
.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: palevioletred;
    padding:8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover{
        background-color: #b84da6;
  }
.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.parent {
    display: flex;
}
.body {
    background-color: pink;

}
.caerleon {
    width: 300px;
    height: 200px;
}
h2 {
    text-align: center;
}
.info {
    background-color: red;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 11px;
}
.info img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.quote {
    background-color: orange;
}
.signup {
    background-color: yellow;
}